.displayer-container {
  margin: 5%;
}
.done-tick {
  width: 15%;
  height: 15%;
  position: absolute;
  top: 80%;
  left: 87%;
  right: 0;
}

@media (width < 1300px) {
  .displayer-container {
    margin: 10%;
  }
}
@media (width < 600px) {
  .displayer-container {
    margin: 15%;
  }
}
