footer {
  display: flex;
  margin: 0;
  padding: 40px 0px;
  background-image: url("../../assets/piggie.png");
  opacity: 0.5;
  background-size: contain;
  background-position: 50%;
  border-top: 4px solid rgb(239, 239, 239);
  border-bottom: 3px solid rgb(239, 239, 239);
}

footer div {
  display: flex;
  font-family: "Calibri", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  text-shadow: 5px 5px 20px #000000;
}
