footer {
  display: flex;
  margin: 0;
  padding: 100px 0px;
  background-image: url("../images/footercerditos.jpeg");
  opacity: 0.9;
  background-size: cover;
  background-position: 40%;
  border-top: 8px solid rgb(239, 239, 239);
  border-bottom: 8px solid rgb(239, 239, 239);
}

footer div {
  display: flex;
  font-family: "Calibri", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 4px 4px 10px #000000;
}
